body{
    width: 700px;
    /* background-color: rgb(172, 172, 172); */
}
#startScanning{
    background-color: royalblue;
    border: none;
    color: white;
    padding: 1vmax;
    margin: 1vmax;
    border-radius: 9px;
    cursor: pointer;


}
#downloadXML{
    background-color: rgb(0, 174, 3);
    border: none;
    color: white;
    padding: 1vmax;
    border-radius: 9px;
    cursor: pointer;
}